GATEWAY_DOMAIN=payout-gateway.fashionfussion.in
GATEWAY_TOKEN=replace_with_64_hex_chars
RAZORPAYX_KEY_ID=replace_with_razorpayx_key_id
RAZORPAYX_KEY_SECRET=replace_with_razorpayx_key_secret
RAZORPAYX_ACCOUNT_NUMBER=replace_with_razorpayx_customer_identifier
MAX_PAYOUT_PAISE=50000000
REQUEST_TIMEOUT_MS=15000
PORT=8787
